.about-me
  position: relative
  grid-column: full-start / full-end
  grid-row: 2 / 3
  display: grid
  grid-template-columns: repeat(2, 1fr)
  height: 100vh

  @media only screen and (max-width: $bp-medium)
    grid-template-columns: 1fr
    grid-template-rows: repeat(2, 1fr)

  &__plate
    height: 22rem
    bottom: -15rem
    position: absolute

    @media only screen and (max-width: $bp-medium)
      display: none

  &__background
    height: 100vh
    grid-column: 1 / -1
    grid-row: 1 / 2
    background-color: $color-secondary
    -webkit-clip-path: polygon(70% 0, 100% 0, 100% 100%, 40% 100%)
    clip-path: polygon(70% 0, 100% 0, 100% 100%, 40% 100%)

    @media only screen and (max-width: $bp-large)
      -webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%)
      clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%)

    @media only screen and (max-width: $bp-medium)
      -webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%)
      clip-path: polygon(100% 50%, 100% 0, 100% 100%, 0 100%)
      grid-column: 1 / 2
      grid-row: 1 / -1
      
  &__text-container
    grid-column: 1 / 2
    grid-row: 1 / 2
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    @media only screen and (max-width: $bp-medium)
      margin-top: 5rem
      grid-column: 1 / 2
      grid-row: 1 / 2

    &--title
      text-align: center

      img
        width: 8rem
        height: 0.4rem

    &--description
      max-width: 40rem

  &__img-container
    grid-column: 2 / -1
    grid-row: 1 / 2
    display: flex
    align-items: flex-end
    justify-content: center

    @media only screen and (max-width: $bp-medium)
      grid-column: 1 / 2
      grid-row: 2 / -1

    img
      position: relative
      height: 60rem

      @media only screen and (max-width: $bp-medium)
        visibility: hidden
        height: 0

