.footer
  grid-column: full-start / full-end
  height: 20vh
  background-color: $color-primary

  &__container
    display: grid
    grid-template-columns: repeat(6, 1fr)
    color: $color-white

    &--contact
      grid-column: 2 / 3
      height: 20vh
      display: flex
      flex-direction: column
      padding-top: 2rem

      &--phone
        display: flex
        margin-bottom: 1rem

        object
          width: 2.5rem
          height: 2.5rem
          margin-right: 2rem

        a
          text-decoration: none
          color: $color-white

      &--email
        display: flex

        object
          width: 2.5rem
          height: 2.5rem
          margin-right: 2rem

        a
          text-decoration: none
          color: $color-white

    &--copyright
      grid-column: 3 / 5
      display: flex
      align-items: flex-end
      justify-self: center
      padding-bottom: 2rem

    &--social
      grid-column: 5 / 6
      padding-top: 2rem

      a
        text-decoration: none
        margin-right: 1rem

