.footer
  grid-column: full-start / full-end
  height: 25vh
  background-color: $color-primary

  &__container
    display: grid
    grid-template-columns: repeat(6, 1fr)
    color: $color-white

  &__contact
    grid-column: 2 / 3
    height: 25vh
    display: flex
    flex-direction: column
    padding-top: 4rem

    &--phone
      display: flex
      margin-bottom: 1rem
    
    &--email
      display: flex

    &--icon
      width: 2.5rem
      height: 2.5rem
      margin-right: 2rem

    &--a
      text-decoration: none
      color: $color-white

    &--a:hover
      color: $color-secondary
      
    &--a:focus
      color: $color-secondary

  &__copyright
    grid-column: 3 / 5
    display: flex
    align-items: flex-end
    justify-self: center
    padding-bottom: 2rem

  &__social
    grid-column: 5 / 6
    padding-top: 5rem

    a
      text-decoration: none
      margin-right: 1rem

    &--icon
      cursor: pointer
      
    &--icon:hover
      fill: $color-secondary

