.header
  grid-column: full-start / full-end
  display: grid
  grid-template-columns: repeat(2, 1fr)
  height: 100vh
  background-image: url(../assets/img/header-background3.jpg)
  background-size: cover
  //background-position: bottom

  &__background
    grid-column: 1 / -1
    grid-row: 1 / 2
    z-index: 1
    height: 100vh
    background-color: $color-primary
    opacity: .8
    -webkit-clip-path: polygon(30% 0, 100% 0, 100% 100%, 70% 100%)
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 70% 100%)

  &__text-container
    grid-column: 2 / -1
    grid-row: 1 / 2
    z-index: 2
    position: relative
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    &--p
      max-width: 50rem
