.service-flow
  display: flex
  height: 100vh
  justify-content: center
  align-items: center
  flex-direction: column

  @media only screen and (max-width: $bp-small)
    height: 100%
    padding: 5rem 0

.timeline
  display: flex
  justify-content: center
  margin-bottom: 15rem

  @media only screen and (max-width: $bp-small)
    margin-bottom: 8rem

  &__icon
    fill: #9E9E9E
    width: 3rem
    height: 3rem

    @media only screen and (max-width: $bp-small)
      margin: 0 1rem
      width: 2rem
      height: 2rem

  &__line
    display: flex
    align-self: flex-end
    margin: 0 2rem
    width: 2rem
    height: 1.5rem

    @media only screen and (max-width: $bp-medium)
      margin: 0 1rem

    @media only screen and (max-width: $bp-small)
      display: none

.timeline a:not(:first-child)
  margin-left: 2rem

.title
  text-align: center

  @media only screen and (max-width: $bp-small)
    width: 90%

.buttons
  display: flex
  flex-direction: column
  align-items: center

  button
    min-width: 25rem

.buttons-box
  display: flex
  justify-content: center

  @media only screen and (max-width: $bp-small)
    flex-direction: column

  & > *
    margin: 0 2rem

    @media only screen and (max-width: $bp-small)
      margin: 0

.box-icon
  fill: $color-primary
  width: 8rem
  height: 8rem

.content-buttons
  display: flex
  flex-direction: column
  align-items: flex-end
  font-size: $text-size
  font-family: $font-secondary

  &__group
    display: flex
    align-items: center

  &__input
    border: 0
    margin: 0 3rem 0 4rem
    width: 3rem
    font-size: 2.5rem

  &__label
    text-transform: uppercase

.content-date
  font-size: $text-size
  font-family: $font-primary
  display: flex

  @media only screen and (max-width: $bp-small)
    flex-direction: column
    align-items: flex-end

  &__group
    margin: 0 2rem

    @media only screen and (max-width: $bp-small)
      margin: 1rem 0

  &__input
    font-family: inherit
    font-size: inherit
    border: $border-form
    border-radius: 5px
    width: 14rem
    padding: 1rem
    text-align: center

  &__label
    margin-right: 0.5rem

.buttons-box-block
  display: flex
  flex-direction: column
  align-items: center
  text-align: center

  & > *
    margin-bottom: 2rem

  &__group > *
    margin: 0 1rem

  &__group
    @media only screen and (max-width: $bp-medium)
      width: 95%

