.heading-1
  font-family: $font-secondary
  font-size: $h1-text-size
  font-weight: 900
  color: $color-white

.paragraph-1
  font-size: $text-size

  &--primary
    color: $color-white

  &--secondary
    color: $color-primary

