.btn
  &,
  &:link,
  &:visited
    text-transform: uppercase
    text-decoration: none
    padding: 1.8rem 4rem
    font-family: $font-secondary
    font-size: $button-text-size
    cursor: pointer
    border: $border
    border-radius: $border-radius
    min-width: 20rem

  &--primary
    background-color: $color-secondary
    margin-right: 1rem

    &:hover
      transform: $button-scale

  &--secondary
    background-color: transparent
    border-color: $color-secondary
    color: $color-secondary

    &:hover
      background-color: $color-secondary
      color: $color-primary
