.popup
  align-items: center
  justify-content: center
  height: 100vh
  width: 100%
  display: none
  position: fixed
  background-color: rgba($color-black, .8)
  z-index: 10

  opacity: 0
  visibility: hidden

  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))
    -webkit-backdrop-filter: blur(10px)
    backdrop-filter: blur(10px)
    background-color: rgba($color-black, .3)

  &__container
    position: relative
    border-radius: $border-radius
    display: none
    padding: 5rem
    background-color: $color-white
    opacity: 0

    @media only screen and (max-width: $bp-small)
      flex-direction: column
      width: 90%

  &__left
    display: flex
    flex-direction: column
    align-items: center
    margin-right: 5rem

    @media only screen and (max-width: $bp-medium)
      margin-top: 2rem
      margin-right: 0
      order: 1

  &__right
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    &--container
      display: grid
      grid-template-columns: repeat(2, 1fr)
      grid-gap: 2rem

      & > *
        height: 20rem
        width: 20rem
        border-radius: $border-radius
        background-size: cover
        background-position: center
        box-shadow: $shadow

        @media only screen and (max-width: $bp-medium)
          display: none

  &__heading
    text-align: center

    @media only screen and (max-width: $bp-medium)
      margin-bottom: 2rem !important

  &__text
    max-width: 40rem

    @media only screen and (max-width: $bp-medium)
      margin-bottom: 2rem !important

  &__img-chef--1
    background-image: url(../../assets/img/gallery1-x2.jpg)

  &__img-chef--2
    background-image: url(../../assets/img/chef1-x2.jpg)

  &__img-chef--3
    background-image: url(../../assets/img/gallery3-x2.jpg)

  &__img-chef--4
    background-image: url(../../assets/img/chef2-x2.jpg)

  &__img-cooking--1
    background-image: url(../../assets/img/cooking1-x2.jpg)

  &__img-cooking--2
    background-image: url(../../assets/img/cooking2-x2.jpg)

  &__img-cooking--3
    background-image: url(../../assets/img/cooking3-x2.jpg)

  &__img-cooking--4
    background-image: url(../../assets/img/cooking-classes-x2.jpg)

  &__img-mezcal--1
    background-image: url(../../assets/img/mezcal1-x2.jpg)

  &__img-mezcal--2
    background-image: url(../../assets/img/mezcal-expereince-x2.png)

  &__img-mezcal--3
    background-image: url(../../assets/img/mezcal2-x2.jpg)

  &__img-mezcal--4
    background-image: url(../../assets/img/mezcal3-x2.jpg)

  &__img--about-me
    height: 50rem
    opacity: 0.8

    @media only screen and (max-width: $bp-medium)
      visibility: hidden
      height: 0

  &:target
    opacity: 1
    display: flex
    visibility: visible

  &:target &__container
    opacity: 1
    display: flex
    transform: scale(1)

  &__close
    &:link,
    &:visited
      color: $color-primary
      position: absolute
      top: 2rem
      right: 2rem
      font-size: 4rem
      text-decoration: none
      display: inline-block
      transition: all .2s
      line-height: 1

  &__close:hover
    color: $color-tertiary
